/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/06/2015, 12:20:50 AM
    Author     : Carlos
*/
#content-clock{
    position: absolute;
    width: 580px;
    height: 100px;
    margin-left: 30px;
}
#clock-analogic {
    background: transparent url("../pictures-system/images-clock/Clock.png") no-repeat scroll 0% 0% / 100px auto;
    list-style: outside none none;
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
}
#secA, #minA, #hourA {
    position: absolute;
    width: 5px;
    height: 50px;
    top: 25px;
    left: 45px;
}
#secA {
    background: transparent url("../pictures-system/images-clock/sechand.png") no-repeat scroll center center / 5px 100px;
    z-index: 3;
}
#minA {
    background: transparent url("../pictures-system//images-clock/minhand.png") no-repeat scroll center center / 5px 100px;
    z-index: 2;
}
#hourA {
    background: transparent url("../pictures-system/images-clock/hourhand.png") no-repeat scroll center center / 5px 100px;
    z-index: 1;
}

#clock-digital{
    float: left;
    width:260px; 
    height: 50px;
    padding-top: 50px;
    margin:0 auto; 
    color:#fff; 
    position: relative;
}

#Date { 
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size:20px; 
    text-align:center;  
}

.ul { 
    width:155px;
    margin:0 auto; 
    padding:0px; 
    list-style:none; 
    text-align:center; 
}
.ul .li { 
    display:inline; 
    font-size:24px; 
    text-align:center; 
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
}

.point { 
    position:relative; 
    /*-moz-animation:mymove 1s ease infinite; 
    -webkit-animation:mymove 1s ease infinite;*/ 
    /*padding-left:10px; 
    padding-right:10px; */
}

@-webkit-keyframes mymove {
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove {
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}
#content-caledar{
    width: 180px;
    float: left;
    position: relative;
    top: 60px;
}