.jqx-rc-tl-blackUtsem
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-blackUtsem
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-blackUtsem
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-blackUtsem
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-blackUtsem
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-blackUtsem
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-blackUtsem
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-blackUtsem
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-blackUtsem
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-blackUtsem {
    font-size: 12px; line-height: 17px;
    font-family: 'segoe ui', arial, sans-serif;
    color: inherit;
}
.jqx-widget-content-blackUtsem{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background-color: #252526;}
.jqx-widget-header-blackUtsem{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; color: #ffffff; border-color:#35353A; background-color:#3E3E42;}
.jqx-fill-state-normal-blackUtsem{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-fill-state-hover-blackUtsem{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color:#1C97EA; color: #fff; background-color:#1C97EA;

}
.jqx-fill-state-focus-blackUtsem { border-color: #000; }
.jqx-fill-state-pressed-blackUtsem{border-color:#008929; color: #fff; background-color:#008929;

}
.jqx-fill-state-disabled-blackUtsem {
    color: #898989;
}
.jqx-input-blackUtsem {
    border-color: #35353A;
}
.jqx-scrollbar-state-normal-blackUtsem, .jqx-grid-bottomright-blackUtsem, .jqx-panel-bottomright-blackUtsem, .jqx-listbox-bottomright-blackUtsem{background-color:#3E3E42;}
.jqx-widget-blackUtsem .jqx-grid-column-header-blackUtsem, .jqx-grid-cell-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-group-cell-blackUtsem, .jqx-grid-group-cell-blackUtsem{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #1C1C1E; background-color: #2A2A2C; color: #fff;}
.jqx-tabs-title-selected-bottom-blackUtsem, .jqx-tabs-selection-tracker-bottom-blackUtsem, .jqx-tabs-title-selected-top-blackUtsem, .jqx-tabs-selection-tracker-top-blackUtsem{color: #ffffff; border-color:#35353A; border-bottom:1px solid #252526; background:#008929}
.jqx-widget-blackUtsem .jqx-grid-cell-alt-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-sort-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-pinned-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-filter-blackUtsem, .jqx-grid-cell-sort-alt-blackUtsem, .jqx-grid-cell-filter-alt-blackUtsem, .jqx-grid-cell-pinned-blackUtsem, .jqx-grid-cell-alt-blackUtsem, .jqx-grid-cell-sort-blackUtsem{ background-color:#3E3E42; color: #fff;}
.jqx-menu-vertical-blackUtsem{background: #3E3E42; border-color: #3E3E42;}
.jqx-widget-blackUtsem .jqx-grid-cell-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-column-header-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-group-cell-blackUtsem { border-color: #35353A;}

.jqx-widget-blackUtsem .jqx-grid-column-menubutton-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-column-sortascbutton-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-column-sortdescbutton-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-column-filterbutton-blackUtsem {
    background-color: transparent;
    border-color: #35353A;
}
.jqx-window-header-blackUtsem, .jqx-input-button-header-blackUtsem, .jqx-calendar-title-header-blackUtsem, .jqx-grid-blackUtsem .jqx-widget-header-blackUtsem, .jqx-grid-header-blackUtsem, .jqx-grid-column-header-blackUtsem {font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-grid-column-menubutton-blackUtsem {
    background-image: url('images/metro-icon-down-white.png');
 }
.jqx-widget-blackUtsem .jqx-grid-cell-selected-blackUtsem, .jqx-grid-cell-selected-blackUtsem{ background-color:#008929; border-color: #008929; font-size: 12px;  color:#fff;}
.jqx-widget-blackUtsem .jqx-grid-cell-hover-blackUtsem, .jqx-grid-cell-hover-blackUtsem{ background-color:#1C97EA; border-color: #1C97EA;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-blackUtsem {
    background-image: url('images/metro-icon-up-white.png');
 }
.jqx-grid-column-sortdescbutton-blackUtsem {
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-checkbox-check-checked-blackUtsem{background:transparent url(images/check_white.png) center center no-repeat}
.jqx-checkbox-check-indeterminate-blackUtsem{background:transparent url(images/check_indeterminate_white.png) center center no-repeat}
.jqx-checkbox-hover-blackUtsem, .jqx-radiobutton-hover-blackUtsem {
    background-color: #3E3E42;
    border-color: #3E3E42;
}
.jqx-radiobutton-check-checked-blackUtsem {
    background: #fff;
    border-color: #fff;
}

.jqx-scrollbar-thumb-state-normal-horizontal-blackUtsem, .jqx-scrollbar-thumb-state-normal-blackUtsem {
    background: #686868; border-color: #686868;
}
.jqx-scrollbar-thumb-state-hover-horizontal-blackUtsem, .jqx-scrollbar-thumb-state-hover-blackUtsem {
    background: #9E9E9E; border-color: #9E9E9E;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-blackUtsem, .jqx-scrollbar-thumb-state-pressed-blackUtsem {
    background: #ffffff; border-color: #ffffff;
}
.jqx-scrollbar-button-state-normal-blackUtsem
{
    border: 1px solid #3E3E42; 
    background: #3E3E42;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-blackUtsem
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-blackUtsem
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}

/*icons*/
.jqx-window-collapse-button-blackUtsem
{
    background-image: url(images/metro-icon-up-white.png);
}
.jqx-window-collapse-button-collapsed-blackUtsem {
  background-image: url(images/metro-icon-down-white.png);
}
.jqx-icon-arrow-up-blackUtsem, .jqx-expander-arrow-bottom-blackUtsem, .jqx-menu-item-arrow-up-blackUtsem
{
    background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-down-blackUtsem, .jqx-expander-arrow-top-blackUtsem, .jqx-tree-item-arrow-expand-blackUtsem, .jqx-tree-item-arrow-expand-hover-blackUtsem, .jqx-menu-item-arrow-down-blackUtsem
{
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-left-blackUtsem, .jqx-menu-item-arrow-left-blackUtsem
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-right-blackUtsem, .jqx-menu-item-arrow-right-blackUtsem, .jqx-tree-item-arrow-collapse-blackUtsem, .jqx-tree-item-arrow-collapse-hover-blackUtsem
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-tabs-arrow-left-blackUtsem, .jqx-tree-item-arrow-collapse-rtl-blackUtsem, .jqx-tree-item-arrow-collapse-hover-rtl-blackUtsem
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-blackUtsem
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-up-selected-blackUtsem, .jqx-icon-arrow-up-selected-blackUtsem{background-image:url('images/metro-icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-blackUtsem, .jqx-icon-arrow-down-selected-blackUtsem{background-image:url('images/metro-icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-blackUtsem, .jqx-icon-arrow-left-selected-blackUtsem{background-image:url('images/metro-icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-blackUtsem, .jqx-icon-arrow-right-selected-blackUtsem{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-window-close-button-blackUtsem, .jqx-icon-close-blackUtsem, .jqx-tabs-close-button-blackUtsem, .jqx-tabs-close-button-hover-blackUtsem, .jqx-tabs-close-button-selected-blackUtsem{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-listbox-feedback-blackUtsem {
    border-top: 1px dashed #fff;
}

.jqx-scrollbar-blackUtsem .jqx-icon-arrow-up-selected-blackUtsem{background-image:url('images/metro-icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-down-selected-blackUtsem{background-image:url('images/metro-icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-left-selected-blackUtsem{background-image:url('images/metro-icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-right-selected-blackUtsem{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-button-blackUtsem
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.jqx-input-button-content-blackUtsem
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-blackUtsem, .jqx-dropdownlist-state-hover-blackUtsem, .jqx-dropdownlist-state-selected-blackUtsem,
.jqx-scrollbar-button-state-hover-blackUtsem, .jqx-scrollbar-button-state-normal-blackUtsem, .jqx-scrollbar-button-state-pressed-blackUtsem,
.jqx-scrollbar-thumb-state-normal-horizontal-blackUtsem, .jqx-scrollbar-thumb-state-hover-horizontal-blackUtsem, .jqx-scrollbar-thumb-state-pressed-horizontal-blackUtsem,
.jqx-scrollbar-thumb-state-normal-blackUtsem, .jqx-scrollbar-thumb-state-pressed-blackUtsem, .jqx-button-blackUtsem, .jqx-tree-item-hover-blackUtsem, .jqx-tree-item-selected-blackUtsem,
.jqx-tree-item-blackUtsem, .jqx-menu-item-blackUtsem, .jqx-menu-item-hover-blackUtsem, .jqx-menu-item-selected-blackUtsem, .jqx-menu-item-top-blackUtsem, .jqx-menu-item-top-hover-blackUtsem, 
.jqx-menu-item-top-selected-blackUtsem, .jqx-slider-button-blackUtsem, .jqx-slider-slider-blackUtsem
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-blackUtsem {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #35353A;
}
.jqx-switchbutton-thumb-blackUtsem {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-blackUtsem {
    background: #008929;
    color: #008929;
}
.jqx-switchbutton-label-off-blackUtsem {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-blackUtsem {
}
.jqx-grid-group-collapse-blackUtsem {
    background-image: url(images/metro-icon-right-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-blackUtsem
{
    padding-right: 0px;
    background-image: url(images/metro-icon-left-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-blackUtsem, .jqx-grid-group-expand-rtl-blackUtsem
{
    padding-right: 0px;
    background-image: url(images/metro-icon-down-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-blackUtsem, .jqx-icon-arrow-first-hover-blackUtsem, .jqx-icon-arrow-first-selected-blackUtsem
{
    background-image: url('images/metro-icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-blackUtsem, .jqx-icon-arrow-last-hover-blackUtsem, .jqx-icon-arrow-last-selected-blackUtsem
{
    background-image: url('images/metro-icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-expand-blackUtsem,
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-expand-blackUtsem {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-collapse-blackUtsem,
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-collapse-blackUtsem {
    background-image: url('images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-collapse-rtl-blackUtsem,
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-collapse-rtl-blackUtsem {
    background-image: url('images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-expand-rtl-blackUtsem,
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-expand-rtl-blackUtsem {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-blackUtsem {
    margin-top: 3px;
}
.jqx-icon-search-blackUtsem
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-passwordinput-password-icon-blackUtsem, .jqx-passwordinput-password-icon-rtl-blackUtsem
{
    background-image: url(images/icon-showpassword-white.png) !important;
    background-repeat: no-repeat !important;
}
.jqx-icon-calendar-blackUtsem, .jqx-icon-calendar-hover-blackUtsem, .jqx-icon-calendar-pressed-blackUtsem {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-blackUtsem
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-blackUtsem
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-blackUtsem
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-blackUtsem
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-blackUtsem
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-blackUtsem
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-blackUtsem {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-blackUtsem
{
  font-family: Segoe UI;
}
.jqx-widget-content-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background: #252526;
  font-family: Segoe UI;
}
.jqx-widget-header-blackUtsem, .jqx-grid-blackUtsem .jqx-widget-header-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-column-menubutton-blackUtsem, .jqx-widget-blackUtsem.jqx-grid-column-menubutton-blackUtsem
{
  border-color: #35353A;
}
.jqx-grid-cell-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-blackUtsem
{
  background-color: #252526;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-normal-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-button-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-selectionarea-blackUtsem
{
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-widget-blackUtsem .jqx-grid-cell-sort-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-filter-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-pinned-blackUtsem, .jqx-grid-cell-sort-blackUtsem, .jqx-grid-cell-filter-blackUtsem, .jqx-grid-cell-pinned-blackUtsem
{
  background-color: #3E3E42;
  color: #ffffff;
  text-shadow: none;
}
.jqx-widget-blackUtsem .jqx-grid-cell-alt-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-sort-alt-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-pinned-alt-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-filter-alt-blackUtsem, .jqx-grid-cell-alt-blackUtsem, .jqx-grid-cell-sort-alt-blackUtsem, .jqx-grid-cell-filter-alt-blackUtsem
{
  background-color: #3E3E42;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-hover-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-hover-blackUtsem
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #008929;
  background-color: #008929;
  background-image: -moz-linear-gradient(top, #008929, #008929);
  background-image: -ms-linear-gradient(top, #008929, #008929);
  background-image: -o-linear-gradient(top, #008929, #008929);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#008929), to(#008929));
  background-image: -webkit-linear-gradient(top, #008929, #008929);
  background-image: linear-gradient(top, #008929, #008929);
  background-image: linear-gradient(to bottom, #008929, #008929);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-fill-state-pressed-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-selected-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #008929;
  background-color: #008929;
  background-image: -moz-linear-gradient(top, #008929, #008929);
  background-image: -ms-linear-gradient(top, #008929, #008929);
  background-image: -o-linear-gradient(top, #008929, #008929);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#008929), to(#008929));
  background-image: -webkit-linear-gradient(top, #008929, #008929);
  background-image: linear-gradient(top, #008929, #008929);
  background-image: linear-gradient(to bottom, #008929, #008929);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-switchbutton-label-on-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #008929;
  background-color: #008929;
  background-image: -moz-linear-gradient(top, #008929, #008929);
  background-image: -ms-linear-gradient(top, #008929, #008929);
  background-image: -o-linear-gradient(top, #008929, #008929);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#008929), to(#008929));
  background-image: -webkit-linear-gradient(top, #008929, #008929);
  background-image: linear-gradient(top, #008929, #008929);
  background-image: linear-gradient(to bottom, #008929, #008929);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-blackUtsem, .jqx-tabs-selection-tracker-top-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  border-bottom: 1px solid #252526;
  background-image: none ;
  background-color: #252526;
}
.jqx-tabs-title-selected-bottom-blackUtsem, .jqx-tabs-selection-tracker-bottom-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  border-top: 1px solid #252526;
  background-image: none ;
  background-color: #252526;
}
.jqx-splitter-splitbar-hover-blackUtsem
{
  background: #008929;
}
.jqx-splitter-splitbar-vertical-blackUtsem, .jqx-splitter-splitbar-horizontal-blackUtsem, .jqx-slider-track-horizontal-blackUtsem, .jqx-slider-track-vertical-blackUtsem
{
  background: #3E3E42;
}
.jqx-splitter-collapse-button-horizontal-blackUtsem, .jqx-splitter-collapse-button-vertical-blackUtsem, .jqx-slider-rangebar-blackUtsem
{
  background: #008929;
}
.jqx-scrollbar-state-normal-blackUtsem
{
  background-color: #3E3E42;
  border-color: #3E3E42;
}
.jqx-grid-bottomright-blackUtsem, .jqx-panel-bottomright-blackUtsem, .jqx-listbox-bottomright-blackUtsem
{
  background-color: #3E3E42;
}
.jqx-scrollbar-thumb-state-normal-blackUtsem
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(left, #686868, #686868);
  background-image: -ms-linear-gradient(left, #686868, #686868);
  background-image: -o-linear-gradient(left, #686868, #686868);
  background-image: -webkit-gradient(linear, left top, right top, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left right, #686868, #686868);
}
.jqx-scrollbar-thumb-state-normal-horizontal-blackUtsem
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(top, #686868, #686868);
  background-image: -ms-linear-gradient(top, #686868, #686868);
  background-image: -o-linear-gradient(top, #686868, #686868);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(to bottom, #686868, #686868);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-blackUtsem
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, left top, right top, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left right, #9E9E9E, #9E9E9E);
}
.jqx-scrollbar-thumb-state-hover-horizontal-blackUtsem
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(to bottom, #9E9E9E, #9E9E9E);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-blackUtsem
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-blackUtsem
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-blackUtsem
{
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-blackUtsem
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-blackUtsem
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-blackUtsem
{
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-blackUtsem
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-blackUtsem
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-blackUtsem
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-blackUtsem
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-blackUtsem
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-blackUtsem
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-blackUtsem
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-blackUtsem
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-blackUtsem, .jqx-radiobutton-blackUtsem, .jqx-radiobutton-check-checked-blackUtsem, .jqx-radiobutton-hover-blackUtsem, .jqx-radiobutton-check-indeterminate-blackUtsem, .jqx-radiobutton-check-indeterminate-disabled-blackUtsem, .jqx-slider-button-blackUtsem
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-blackUtsem, .jqx-tooltip-blackUtsem, .jqx-tooltip-text-blackUtsem, .jqx-tooltip-main-blackUtsem
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-blackUtsem, .jqx-expander-arrow-bottom-blackUtsem, .jqx-window-collapse-button-blackUtsem, .jqx-menu-item-arrow-up-blackUtsem, .jqx-menu-item-arrow-top-up-blackUtsem, .jqx-icon-arrow-up-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-up-hover-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-blackUtsem, .jqx-icon-arrow-up-selected-blackUtsem.jqx-expander-arrow-expanded-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-grid-column-menubutton-blackUtsem, .jqx-grid-column-sortdescbutton-blackUtsem, .jqx-expander-arrow-top-blackUtsem, .jqx-window-collapse-button-collapsed-blackUtsem, .jqx-menu-item-arrow-down-blackUtsem, .jqx-menu-item-arrow-down-blackUtsem, .jqx-tree-item-arrow-expand-blackUtsem, .jqx-grid-group-expand-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-group-expand-blackUtsem, .jqx-icon-arrow-down-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-down-hover-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-blackUtsem, .jqx-icon-arrow-down-selected-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-tabs-arrow-left-blackUtsem, .jqx-menu-item-arrow-top-left-blackUtsem, .jqx-grid-group-collapse-rtl-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-group-collapse-rtl-blackUtsem, .jqx-icon-arrow-left-blackUtsem, .jqx-icon-arrow-down-left-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-left-hover-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-menu-vertical-blackUtsem
{
  background: #252526;
}
.jqx-menu-item-arrow-left-selected-blackUtsem, .jqx-icon-arrow-left-selected-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-blackUtsem, .jqx-menu-item-arrow-top-right-blackUtsem, .jqx-menu-item-arrow-collapse-blackUtsem, .jqx-grid-group-collapse-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-group-collapse-blackUtsem, .jqx-icon-arrow-right-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-icon-arrow-right-hover-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-blackUtsem, .jqx-icon-arrow-right-selected-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-window-close-button-blackUtsem, .jqx-tabs-close-button-blackUtsem, .icon-close-blackUtsem
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-blackUtsem
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-blackUtsem
{
  background-image: url('images/close_white.png');
}
.jqx-widget-blackUtsem .jqx-grid-column-header-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-cell-blackUtsem, .jqx-widget-blackUtsem .jqx-grid-group-cell-blackUtsem, .jqx-grid-cell-blackUtsem
{
  border-color: #35353A;
}
.jqx-checkbox-check-checked-blackUtsem
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-blackUtsem
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-blackUtsem, .jqx-tooltip-main-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-combobox-content-blackUtsem, .jqx-input-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-combobox-input-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
}
.jqx-input-content-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  background-color: #252526;
}
.jqx-fill-state-focus-blackUtsem, .jqx-popup-blackUtsem .jqx-fill-state-focus-blackUtsem
{
  border-color: #000000;
}
.jqx-popup-blackUtsem.jqx-listbox-blackUtsem, .jqx-popup-blackUtsem.jqx-calendar-blackUtsem,.jqx-menu-dropdown-blackUtsem,  .jqx-popup-blackUtsem.jqx-dropdownbutton-popup-blackUtsem
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-menu-item-arrow-right-blackUtsem, .jqx-tree-item-arrow-collapse-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-left-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tree-item-arrow-expand-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-up-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-left-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-right-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-bottom-blackUtsem
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-up-hover-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-left-hover-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-right-hover-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-bottom-hover-blackUtsem
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-up-selected-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-left-selected-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-right-selected-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-blackUtsem .jqx-icon-arrow-bottom-selected-blackUtsem
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-calendar-blackUtsem .jqx-icon-arrow-up-blackUtsem, .jqx-tabs-header-blackUtsem .jqx-icon-arrow-up-blackUtsem
{
}
.jqx-calendar-blackUtsem .jqx-icon-arrow-left-blackUtsem, .jqx-tabs-header-blackUtsem .jqx-icon-arrow-left-blackUtsem
{
}
.jqx-calendar-blackUtsem .jqx-icon-arrow-right-blackUtsem, .jqx-tabs-header-blackUtsem .jqx-icon-arrow-right-blackUtsem
{
}
.jqx-calendar-blackUtsem .jqx-icon-arrow-bottom-blackUtsem, .jqx-tabs-header-blackUtsem .jqx-icon-arrow-bottom-blackUtsem
{
}
.jqx-widget-blackUtsem .jqx-grid-cell-blackUtsem, .jqx-listitem-state-normal-blackUtsem, .jqx-menu-item-normal-blackUtsem, .jqx-tree-item-normal-blackUtsem, .jqx-calendar-cell-blackUtsem, .jqx-grid-cell-blackUtsem,.jqx-menu-vertical-blackUtsem .jqx-menu-item-top-normal-blackUtsem, .jqx-input-popup-blackUtsem .jqx-fill-state-normal-blackUtsem
{
  font-family: Segoe UI;
}
.jqx-widget-blackUtsem .jqx-grid-cell-hover-blackUtsem, .jqx-listitem-state-hover-blackUtsem, .jqx-menu-item-hover-blackUtsem, .jqx-tree-item-hover-blackUtsem, .jqx-calendar-cell-hover-blackUtsem, .jqx-grid-cell-hover-blackUtsem,.jqx-menu-vertical-blackUtsem .jqx-menu-item-top-hover-blackUtsem, .jqx-input-popup-blackUtsem .jqx-fill-state-hover-blackUtsem,.jqx-input-button-header-blackUtsem, .jqx-input-popup-blackUtsem .jqx-fill-state-pressed-blackUtsem,.jqx-input-button-header-blackUtsem
{
  font-family: Segoe UI;
}
.jqx-widget-blackUtsem  .jqx-grid-cell-selected-blackUtsem, .jqx-listitem-state-selected-blackUtsem, .jqx-menu-item-selected-blackUtsem, .jqx-tree-item-selected-blackUtsem, .jqx-calendar-cell-selected-blackUtsem, .jqx-grid-cell-selected-blackUtsem,.jqx-menu-vertical-blackUtsem .jqx-menu-item-top-selected-blackUtsem, .jqx-grid-selectionarea-blackUtsem
{
  font-family: Segoe UI;
}
.jqx-icon-calendar-blackUtsem
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-blackUtsem
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-blackUtsem
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-blackUtsem
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-hover-blackUtsem
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-selected-blackUtsem
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-last-blackUtsem
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-hover-blackUtsem
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-selected-blackUtsem
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-blackUtsem>.jqx-grid-group-expand-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-expand-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-expand-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-blackUtsem>.jqx-grid-group-collapse-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-collapse-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-collapse-blackUtsem
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-blackUtsem>.jqx-grid-group-expand-rtl-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-expand-rtl-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-expand-rtl-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-blackUtsem>.jqx-grid-group-collapse-rtl-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-hover-blackUtsem>.jqx-grid-group-collapse-rtl-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-blackUtsem.jqx-grid-cell-selected-blackUtsem>.jqx-grid-group-collapse-rtl-blackUtsem
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-column-menubutton-blackUtsem, .jqx-grid-column-sortdescbutton-blackUtsem
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-column-sortascbutton-blackUtsem
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-delete-blackUtsem
{
  background-image: url('images/metro-icon-delete-white.png');
}
.jqx-icon-edit-blackUtsem
{
  background-image: url('images/metro-icon-edit-white.png');
}
.jqx-icon-save-blackUtsem
{
  background-image: url('images/metro-icon-save-white.png');
}
.jqx-icon-cancel-blackUtsem
{
  background-image: url('images/metro-icon-cancel-white.png');
}
.jqx-icon-search-blackUtsem
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-blackUtsem
{
  background-image: url('images/icon-plus_white.png');
}
